body {
  font-family: Arial, sans-serif;
  background: #088A08;
  color: white;
  text-align: center;
}

#dealer-data, #player-data, #dealer-cards, #player-cards, #player-control { padding: 18px; }
#dealer-data, #player-data { font-weight: 500; }
#dealer-cards, #player-cards { min-height: 120px; }
#dealer-data { background: #000000; }
#dealer-cards { background: #252525; }
#player-data { background: #800000; }
#player-cards { background: #A40404; }
#player-control { background: #ffffff; }
#dealer-stand, #player-stand {
  display: none; padding: 5px;
  color: #fff; background: #088A08;
}
#dealer-stand.stood, #player-stand.stood { display: inline-block; }

#dealer-cards, #player-cards {
  display: flex;
  flex-wrap: wrap;
}
.vb-card {
  display: flex;
  align-items: center; justify-content: center;
  margin: 10px;
  width: 100px; height: 100px;
  font-size: 2em;
  text-align: center;
  background: #000000;
}

#player-control input {
  cursor: pointer;
  font-weight: 700;
  padding: 20px 20px;
  border: 0;
  color: #ffffff;
  background: #088A08;
}
/* tried to figure out how to seperate card colours for their different suits but couldnt get it to work before the deadline*/
